*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.list-icon-block{
    width: 1170px;
    border: 1px solid red;
    height: auto;
    position: relative;
}
.icon{
    width: 24%;
    border: 1px solid gray;
    height: 200px;
    margin: 2px;
    display: inline-block;

}
.circle{
    width: 110px;
    height: 110px;
    border: 0px solid pink;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 50%;
    cursor: pointer;
    
    box-shadow: 0 5px 28px rgba(0, 0, 0, 0.329);
    transition: box-shadow 0.5s;


}
.title{
    width: 250px;
    height: 30px;
    border: 0px solid red;
    position: relative;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
    font: poppins ;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    
    
    
}



.picture {
    height: 110px;
    width: 110px;
    border-radius: 50%;




}
   
.circle:hover{
    box-shadow: 0 5px 28px rgba(0, 0, 0, 0.5);
}
.title:hover{
    color: red;
}

.container {
    width: 1170px;
    margin-top: 100px;
   
  }
  
  
  .services-block {
    font-size: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .services-block .column {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
  .service-block-item {
    background-color: #f9f9f9;
    display: table;
    width: 100%;
  }
  .service-block_image {
    width: 40%;
    position: relative;
    height: 210px;
    background-color: white;
    display: table-cell;
    box-shadow: 0 11px 29px 0 rgba(0,0,0,0.08);
  }
  .service-block_image img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .service-block_content {
    width: 60%;
    padding: 25px 20px;
    display: table-cell;
  }
  
  .service-block_title {
    color: #2c323a;
    font-size: 20px;
  }
  .service-block_description {
    font-size: 14px;
    color: #7b7b7b;
    line-height: 1.8;
    margin-top: 5px;
    width: 100%;
  }

.bg{
    width: 1170px;
    background-color: white;
    border: 1px solid black;
    margin-top: 100px;

}
.ten1{
    display: inline-block;
    color: rgb(243, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: 600;
    position: relative;
    transform: translate(50%,10%);
text-align: center;
}
.ten2{
    color: black;
    font-size: 30px;
    /* top: 0%;
	left: 45%;
	right: 0%;
	bottom: 0%; */
    transform: translateX(2.5%) translateY(-200%);
    z-index: 1;
   
}
.ten3{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(202, 201, 201);
    font-size: 20px;
    text-align: center;
    
}
.gach{
    transform: translate(45%, -280%);
}

.list-icon-block-1{
    width: 1170px;
    border: 0px solid red;
    height: auto;
    position: relative;
    margin-top: 100px;
}
.icon-1{
    width: 24%;
    border: 0px solid gray;
    height: 200px;
    margin: 2px;
    display: inline-block;
}
.circle-1{
    width: 110px;
    height: 110px;
    border: 0px solid pink;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 50%;
    cursor: pointer;
    
    box-shadow: 0 5px 28px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s;
}
.title-1{
    width: 250px;
    height: 30px;
    border: 0px solid red;
    position: relative;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.5s;
   
    
}

.picture-1{
    height: 110px;
    width: 110px;
    border-radius: 50%;
}
   
.circle-1:hover{
    box-shadow: 0 5px 28px rgba(0, 0, 0, 0.5);
}
.title-1:hover{
    color: red;
}